.bbcode_smiley {
    cursor: default !important;
    margin: 1px;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":)"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-souris.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":)"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-souris.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=";)"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-clindoeil.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=";)"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-clindoeil.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":("] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-triste.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":("] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-triste.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":D"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-rire.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":D"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-rire.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":S"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-sick.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":S"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-sick.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="^^"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-cool.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="^^"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-cool.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="xD"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/big_grin_squint.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="xD"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/big_grin_squint.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":o"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-surpris.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":o"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-surpris.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":'("] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/crying.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":'("] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/crying.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="B)"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-lunette.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="B)"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-lunette.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="|o"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/redface.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="|o"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/redface.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":3"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/inlove.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":3"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/inlove.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="':)"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/evil.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="':)"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/evil.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="|D"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/nerdy.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="|D"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/nerdy.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="-_-'"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-stress.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="-_-'"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-stress.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":P"],
img.bbcode_smiley[alt=":p"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-silly.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":P"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-silly.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt="xS"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-sour.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt="xS"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/img-sour.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
img.bbcode_smiley[alt=":|"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/zipped.png) no-repeat;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
a[alt=":|"] img {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background: url(http://thib3113.github.io/dealabs-extension/emoticons_themes/v4-emoticone/icons/zipped.png) no-repeat !important;
    background-size: 16px 16px !important;
    margin-bottom: 2px;
}
