@charset "UTF-8";
/*============================================*/
/*      DarkLabs - MonsieurCro - V2.0.61      */
/*============================================*/
/*                    INDEX                   */
/*============================================*/

a#register_green {/* la plupart des boutons*/
    color: #FFF !important;}

/*============================================*/

#title_contener, #search_page_contener, .content_part_div {
    background-color: #222 !important;}    

#validate_div {
    background-color: #333 !important;}    


.contener_liste_deal_index .content_div_deal_index .title a { /* texte titre deal*/
    color: #fff !important;}

.text_color_777777 {/* texte description deal*/
    color : #fff !important;}


#contener_menu, .cat_contener, #contener_menu_padding .subcat_contener, #contener_type #contener_parametre, #contener_plus { /* menu déroulant gauche*/
    background-color: #222 !important;}
    
/*=============Poster un deal ================*/
    
.background_color_violet {
    background-color: #8C071F !important;}
    
#post_deal_right div.online_instore_div .selected, #post_deal_right div.picture_div .right a {
    background: #8C071F !important;}
    
div.border_reduction_div a.selected, div.border_reduction_div a:hover {
    background: #8C071F !important;}
    
#post_left .selection_type_div label select, .padding_left_global div#message_magasin {
    background-color: #333 !important;
      color: white !important;}    

/*============================================*/


nav, #menu_white_background,a.button_grey_structure, .input_search {
    background-color: transparent !important;}

.structure.white {
    background: none !important;}
    

/*============================================*/


.body_pagination {/* barre numéros page*/
background: #242424 !important;}

.text_color_333333 {/* membres en ligne etc*/
    color: #fff !important;}  /* ATTENTION lié aux spoilers et aux topics !!!*/


/*==========Accueil blocs de droite============*/


.bloc_rightbar div.selection_top a {
    background: #222 !important;
    color: #fff !important;}

.bloc_rightbar div.div_liste_alert, .bloc_rightbar div.padding_div_thread, .bloc_rightbar div.padding_div_deal_hot {
    background: #222 !important;}

.bloc_rightbar, #left_global {
    background-color: #222 !important;}

/*============================================*/

.body_pagination a.suivant {
    background: #222 url("https://static.dealabs.com/images/all/icon_pagination_next.png") no-repeat scroll right 11px center !important;}

.body_pagination a.precedent {
  background: #222 url("https://static.dealabs.com/images/all/icon_pagination_previous.png") no-repeat scroll 11px center !important;}

.body_pagination a.active {
    background-color: #777 !important;}

.body_pagination a {
    background-color: #222 !important;}


/*============================================*/


.departement_div div.list_div label, .departement_div div.list_div p {
    background-color: #222 !important;}

input[type="text"], input[type="tel"] {
    background-color: #222 !important;
    color: #fff !important;}

#post_left .selection_type_div label {
    background-color: #222 !important;}

.drop_down_list_contener label select {
    background-color: #222 !important;
    color: #fff !important;}


/*============================================*/


.block_notif_contener {
    background-color: #222 !important;}

a.part_notif {
    background: #222 !important;}

#custom_tab {
    background: #222 !important;}

a#top_custom_tab {
    background-image: url("https://static.dealabs.com/images/all/icon_customtab_settings.png") !important;
    background: #333 !important;}

#validate_div {
    background: #222 !important;}

.liste_div div.button a {
    background: #222 !important;}
    
.background_color_button_grey { /* rechercher sur le profil */
  background-color: #222 !important;}
    

/*=======REGISTER/CONNEXION POPUP=========*/

.sub_header_popup {
    background-color: #333 !important;}

.body_login_register {
    background-color: #222 !important;}

.padding_content_logreg {
    background: #222 none repeat scroll 0% 0% !important;}


/*============================================*/
/*               FORUM + DEAL                 */
/*============================================*/


a.button_chemin_deal, .center_part_contener h1 {
    color: #fff !important;}
    
.padding_part_contener.no_padding_left_right, .center_part_contener {
    background-color: #222 !important;}

div.maj_div {
    background: #666 !important;}

    
/*============================================*/
    
    
.padding_comment_contener, .comment_text_part {
    background-color: #222 !important;}
    
div.quote {
    background-color: #333 !important;}
    
.commentaire_div, div.quote_message {
    color: #fff !important;}

/*============================================*/
/*      DarkLabs - MonsieurCro - V3.02        */
/*============================================*/

  .logo
  {
    background-image: none !important;
    background: transparent url("https://i.imgur.com/Zcg5s52.png") no-repeat scroll center center !important;
    margin: 0px 15px 0px 0px !important;
    width: 150px !important;
  }

  .bg--off
  {
    background-image: url("https://static.dealabs.com/images/all/icon_customtab_settings.png") !important;
    background: #8f949b !important;
  }
	
/* ACCUEIL */
	
  .subNav, .subNav--light
  {
    background-color: #252525 !important;
  }

  .subNav-item
  {
 /* adios la petite ligne inutile */
    border-right: none !important;
  }

  .navMenu-trigger
  {
    background-color: transparent !important;
  }

  .bg--main, .thread--type-card, .thread--type-list, .widget
  {
    color: white !important;
    background-color: #252525 !important;
  }

  .thread-price
  {
 /* retouches liées à l'affichage du prix */
    color: #F00000 !important; }
	
.thread--expired.thread--type-card, .thread--expired.thread--type-list{
    opacity: 0.6;}

.vote-btn:hover, .navDropDown-link:hover, .btn--mode-boxSec:hover { /* survol des votes et des menus moins agressifs */
    background: #555 !important;}

.btn--mode-primary:hover {
    background: transparent !important;
	border: 1px solid #d1d5db !important;}
	
.thread-title {
	color: #eee !important;}

.popover--modal, .popover-content, .popover--menu  { /*pop-up de connexion et les onglets notifs, etc.*/
		background: #252525 !important;
	  color: #eee !important;}
	
.autoSuggest-suggestionsBox, .threadWidget-header, .threadWidget--type-linear, .threadWidget-options--carousel-previous-button {
	background-color: #252525 !important; /* suggestions de recherche + onglet "les + hot" qd fenêtré */
	color: #eee !important;}

#notifications { background: transparent !important;
    background-color: transparent !important;}

.conversationList-msg, .notification-item, .notifications-content, .conversationList-msgPreview, .conversationList-senderLine {
		background-color: #252525 !important;
	  color: #eee !important;}	
	
p {color: #eee !important;}

.redactor-editor, .comments-item--active, .comments-item--in-moderation, .comments-item-inner--edit, .bg--em {
		 background-color: transparent !important;
	   color: #eee !important;}	

.input, .inputBox, .toolbar, .voucher-code, .voucher-teaser, .btn--mode-boxSec, .vote-box, .checkbox-box, .tag--deselected, .btn:disabled, .btn--disabled, .subNavMenu-btn, .imgFrame--squircle { /* on vide les boutons */
	background-color: transparent !important;}
	
.bg--white { /* boutons de navigation */
		background-color: #121212 !important;
	  color: #eee !important;}
	
.profileHeader { /* adieu l'image floue */
    background: #252525 !important;
  }

  .speechBubble
  {
    background: black !important;
  }

  .tabbedInterface-tab--horizontal
  {
    background-color: #363636 !important;
    color: #eee !important;
  }

  .subNavMenu--menu .subNavMenu-list
  {
 /* paramètres */
    background-color: #363636 !important;
  }

  .tabbedInterface-tab--selected
  {
    background-color: #484848 !important;
    color: #ccc !important;
  }

  .userProfile-title--sub
  {
    color: #ccc !important;
  }

/* .footer { DEGAGER LE FOOTER GIGANTESQUE, à voir en plus light
    display: none !important;} */


/* adaptation du code de leipo159 */

  .text--lineThrough
  {
 /* espacement entre le prix barré et le prix */
    padding: 1.57143em;
  }

  .imgFrame-img, .ratioBox-child
  {
 /* légère réduction de la taille des images sur l'accueil */
    max-width: 90%;
    max-height: 90%;
    margin: auto; }

/* réduction des espaces des box-deals de l'accueil */
    .comments-list--insideBox .comments-item-inner, .page2-space--h-p, .space--h-3, .space--r-3 { 
    padding-right: 1em;
  }

  .space--h-2, .space--r-2
  {
    padding-right: 1.57143em;
  }

  .space--fromW3-t-3
  {
    padding-top: 1em;
  }

  .thread-list--type-list
  {
 /* plus de place pour les deals, réduction de la colonne de droite */
    max-width: 90%;
    margin: auto;
  }

  .comments-item-inner, .comments-list article:target .page2-space--h-p
  {
    border-top: 5px solid #333333;
  }
