@-moz-document url-prefix("https://www.dealabs.com") {
/*============================================*/
/*    Dark Dealabs - MonsieurCro - V2.0.3     */
/*============================================*/

/*============================================*/
/*                    INDEX                   */
/*============================================*/

a#register_green {/* la plupart des boutons*/
	color: #FFF !important;}

/*============================================*/


article {/* arrière-plan deal*/
	background-color: #222 !important;}

#title_contener, #search_page_contener, .content_part_div {
	background-color: #222 !important;}	

#validate_div {
	background-color: #333 !important;}	


.contener_liste_deal_index .content_div_deal_index .title a { /* texte titre deal*/
	color: #fff !important;}

.text_color_777777 {/* texte description deal*/
	color : #fff !important;}

div.voucher_code_title {/* titre code promo*/
	background-color: #222 !important;}

input.voucher_code {/* code promo*/
	background-color: #222 !important;}

#contener_menu, .cat_contener, #contener_menu_padding .subcat_contener, #contener_type #contener_parametre, #contener_plus { /* menu déroulant gauche*/
	background-color: #222 !important;}
	

/*============================================*/


nav, #menu_white_background,a.button_grey_structure, .input_search {
	background-color: transparent !important;}

.structure.white {
	background: none !important;}
	

/*============================================*/


.body_pagination {/* barre numéros page*/
background: #242424 !important;}

.right_part {
	background-color: #222 !important;}
	

/*============================================*/
	

#bottom_footer, #footer_white_background {
	background-color: #222 !important;}

.text_color_333333 {/* membres en ligne etc*/
    color: #fff !important;}  /* ATTENTION lié aux spoilers et aux topics !!!*/


/*============================================*/


.bloc_rightbar div.selection_top a {
	background: #222 !important;
	color: #fff !important;}

.bloc_rightbar div.div_liste_alert, .bloc_rightbar div.padding_div_thread, .bloc_rightbar div.padding_div_deal_hot {
	background: #222 !important;}

.bloc_rightbar, #left_global {
	background-color: #222 !important;}

/*============================================*/

.body_pagination a.suivant {
	background: #222 url("https://static.dealabs.com/images/all/icon_pagination_next.png") no-repeat scroll right 11px center !important;}

.body_pagination a.precedent {
  background: #222 url("https://static.dealabs.com/images/all/icon_pagination_previous.png") no-repeat scroll 11px center !important;}

.body_pagination a.active {
	background-color: #777 !important;}

.body_pagination a {
	background-color: #222 !important;}


/*============================================*/


.departement_div div.list_div label, .departement_div div.list_div p {
	background-color: #222 !important;}

input[type="text"], input[type="tel"] {
	background-color: #222 !important;
	color: #fff !important;}

#post_left .selection_type_div label {
	background-color: #222 !important;}

.drop_down_list_contener label select {
	background-color: #222 !important;
	color: #fff !important;}


/*============================================*/


.block_notif_contener {
	background-color: #222 !important;}

a.part_notif {
	background: #222 !important;}

#custom_tab {
	background: #222 !important;}

a#top_custom_tab {
	background-image: url("https://static.dealabs.com/images/all/icon_customtab_settings.png") !important;
	background: #333 !important;}

#validate_div {
	background: #222 !important;}

.liste_div div.button a {
	background: #222 !important;}
	
.background_color_button_grey { /* rechercher sur le profil */
  background-color: #222 !important;}
	

/*=======REGISTER/CONNEXION POPUP=========*/

.sub_header_popup {
	background-color: #333 !important;}

.body_login_register {
	background-color: #222 !important;}

.padding_content_logreg {
    background: #222 none repeat scroll 0% 0% !important;}


/*============================================*/
/*               FORUM + DEAL                 */
/*============================================*/


a.button_chemin_deal, .center_part_contener h1 {
	color: #fff !important;}
	
.padding_part_contener.no_padding_left_right, .center_part_contener {
	background-color: #222 !important;}

div.maj_div {
	background: #666 !important;}

	
/*============================================*/
	
	
.padding_comment_contener, .comment_text_part {
	background-color: #222 !important;}
	
div.quote {
	background-color: #333 !important;}
	
.commentaire_div, div.quote_message {
	color: #fff !important;}

	
/*============================================*/

#comment_contener {
	background: transparent !important;}
	
#add_comment_contener, .comment_text_part {
	background-color: transparent !important;}

textarea {
	background-color: #222 !important;
	color: #fff !important;}


/*============================================*/


.body_detail_page.blue_border { /* posté via l'app android */
	background: #222 !important;}

	
/*============================================*/


.poster_profil_div, .option_deal_div div.partage {
	background-color: #222 !important;}

a.facebook {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_all_facebook_grey.png") no-repeat scroll center center !important;}

a.twitter {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_all_twitter_grey.png") no-repeat scroll center center !important;}

a.mail {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_all_mail_grey.png") no-repeat scroll center center !important;}

a.google {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_all_google_grey.png") no-repeat scroll center center !important;}

a.reactiver {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_deal_unexpire.png") no-repeat scroll 15px center !important;}


/*============================================*/


div.spoiler {
	background-color: #444 !important;}

div.spoiler_hide {
  background-color: #444 !important;}
	
.background_grey { /* boite au dessus de ajouter un com */
  background-color: #444 !important;}	


/*============================================*/


.padding_part_contener {
	background-color: #222 !important;}

a.expirer {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_deal_expire.png") no-repeat scroll 15px center !important;}

a.signaler {
    background: #222 no-repeat scroll 15px center !important;} /* url("https://static.dealabs.com/images/deal_detail/icon_deal_report.png") */

a.sauvegarder {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_all_save_white.png") no-repeat scroll 15px center !important;}

a.resoudre {
    background: #222 url("https://static.dealabs.com/images/deal_detail/icon_forum_solved.png") no-repeat scroll 15px center !important;}

/*==============ALERTES================*/

.bloc_rightbar div.div_liste_alert {
	background-color: #222 !important;}

/*============================================*/

#floatant_title {
	background-color: #222 !important;}

.input_search {
	background-color: #222 !important;
	color: #fff !important;}	

.button_grey_structure, #contener_menu, #cat_contener, #contener_menu a, .subcat_contener, #contener_plus, #contener_plus a, #contener_type #contener_parametre {
  background-color: #222 !important;}	 /* liste déroulante accueil */
	
.button_right .yes {
  background: #8C071F url(https://static.dealabs.com/images/header/icon_activetoogle_white.png) no-repeat center !important;}
	
.button_right .no {
	background: #8C071F url(https://static.dealabs.com/images/header/icon_inactivetoogle_white.png) no-repeat center !important;}
	
.yes, .no {
	background: #8C071F !important;	}
	
a.expired_choice_div {
	background: #222 !important;}
	
label::before, div.arrow_part {
	background: #222 !important;}
		
		
.title_categorie_contener {
  background: #8C071F !important;}

/*============================================*/

div.contener_profil_hover_header {
	background: #333 !important;}	

.contener_profil_hover_stats, .contener_profil_hover_button {
	background: #222 !important;}	

input[type="password"], input[type="email"] {
	background: #222 !important;
	color: #fff !important;}


/*============================================*/
/*                INDEX FORUM                 */
/*============================================*/

.sub_categorie_contener {
	background-color: #222 !important;}
		
.sub_categorie_contener .right_cat_part {
		color: #fff !important;}

.title_thread_contener, .mini_header_thread {
	background-color: #222 !important;}

span.resolu {
    background: #222 none repeat scroll 0% 0% !important;}

div.auteur_pagination_div p.etc, div.auteur_pagination_div a {
	 background: #555 !important;}

/*============================================*/
/*                   PROFIL                   */
/*============================================*/

/*                   GAUCHE                   */
/*============================================*/

#content_profil_padding {
	background-color: #222 !important;}

p.description {
	color: #fff !important;}

#left_profil .badge_div, #left_profil .padding_badge_div {
	background-color: #222 !important;}


/*============================================*/


#timeline_profil_div, .padding_timeline_left_contener, p.time, .white_triangle_timeline {
	background-color: none !important;}

a {
	color: #bbb !important;}

span {
	color: #ddd !important;}
	
p {
	color: #ccc !important;}

#menu_profil_contener, #username_lookup {
	background-color: #222 !important;}
	
	
/*============================================*/

#timeline_profil, .stats_profil, #liste_profil_messagerie, .menu_message {
	background-color: #222 !important;}

a.tab_header_messagerie.inbox {
	background-image: url("https://static.dealabs.com/images/profil/icon_profile_messages_inbox_active.png") !important;}
	
a.tab_header_messagerie.inbox:hover {
	background: #555 !important;}
	
a.tab_header_messagerie.inbox:active {
	background-image: #222 !important;}

a.tab_header_messagerie.outbox {
    background-image: #222 url("https://static.dealabs.com/images/profil/icon_profile_messages_outbox.png") !important;}
	
a.tab_header_messagerie.outbox:hover {
	background: #555 !important;}

.background_color_white, .content_profil_messagerie {
	background-color: #222 !important;}	

.button_new_message, a.validate_button_form {
	color: #fff !important;}

#all_contener_content_messagerie, .padding_right_profil_param, .menu_div_param, div.div_tab_selector {
	background-color: #222 !important;}	

#contener_profil_param {
	background: #222 !important;}


/*============================================*/


.timeline_profil_div .more a { /* bouton charger plus */
	background-color: #333 !important;
	color: #fff !important;}
 
#header_black a.logo {
    margin: 0px 30px 0px 0px !important;
	  width: 230px !important;
    background: transparent url("http://www.imgur.com/uu7MwL8.png") no-repeat scroll center center !important;}
 
/*============================================*/
/*             PAGES D'AIDE, ETC              */
/*============================================*/

#body.white, .content_faq, #floating_left_menu {
	background: #222 !important;}	


/* fond site */

body, footer #footer_merchant, footer #footer_links {
	background: url(http://i.imgur.com/3IcBRwc.jpg);
	background-size: cover;}

.structure.black, header {
	background: none;}
	
#contener_type {
	border: none!important;}
	
	
/* MAJ banderoles bas de page */
	
footer #footer_reserv, #footer_events {
  background-color: #000 !important;}

footer #footer_social {
	background-color: #222 !important;}
	

/* Rasmus - Couleurs votes */

.background_color_button_red, .background_color_red, .contener_progress_bar {
	background-color: #8C071F!important;}

.background_color_button_gele, .background_color_gele {
	background-color: #007FFF !important;} 

[class*='background_color_button_']:hover, .vote_contener a.voted {
	opacity: 0.6;}

.background_color_button_blue:hover {
	background-color: #ff7e00;
	opacity: 1;}
	
footer #footer_links{
	background-color: transparent;}

article.expired {
	opacity: 0.5;}
	

/* Mod ttes les couleurs */
	
.background_color_blue {
	background-color: #8C071F!important;}  
	
.body_detail_page.blue_border {
	border-top: 4px solid #8C071F!important;}
	
#hot_deals .title_div {
	background-color:	#8C071F!important;}
	
#actif_thread .title_div {
  background-color: #007FFF !important;}
	
.background_color_button_green {
  background-color: #8C071F !important;}
			
div.newsletter_field div.image, .whatsapp_part a, #contener_menu a span:hover, #contener_menu a span:focus {
	background-color: #8C071F !important;}
	
.events_part span, .option p span, .title a span.maj {
  background-color: #8C071F !important;}
	
a.unsubscribe_button {
	background: #8C071F !important;}

.background_color_button_blue, .background_color_button_777777, .background_color_f4f4f4 {
  background-color: #8C071F !important;}
	
div.div_tab_selector.active {
  border-left: 3px solid #8C071F !important;
	background-color: #222 !important;}
	
div.div_tab_selector:hover {
	border-left: 3px solid #8C071F !important;}
	
.body_pagination a.active {
	border-bottom: 3px solid #8C071F !important;
	background-color: #333 !important;}
	
a.active {
	border-bottom: 3px solid #8C071F !important;}
	
.text_color_blue {
  color: #007FFF !important;}
	
/* .text_color_red {
	color: #8C071F !important;} */
	
article.expired a.voir_le_deal {
	background: transparent !important;}
	
span.debut, span.fin {
  background: #8C071F !important;}
	
.menu_message:hover {
	border-left: 3px solid #8C071F !important;}


/* Whatsapp */

.bloc_rightbar #whatsapp {
	background-color: black !important;}
	
.bloc_rightbar #whatsapp .triangle {
	border-color: transparent black transparent transparent !important;}
	
	
/* concours 5 ans */
	
#header_message, #header_message p, #header_message .structure {
	background-color: black !important;}

.white {
	background: #222 !important;}
	
#header_waves {
	background: transparent !important;}
}
