#contener_profil_param .content_profil_param .profil_param_notification{
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

#contener_profil_param #plugin_tab_content.content_profil_param .content_tab_contener{
    padding: initial;
}

div.spoiler > a.plugin_click_div_spoiler {
    /* color: #969696; */
    padding: 8px 0px;
    cursor: pointer;
    display: block;
    width: 100%;
    background-position: 12px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_all_spoiler.png);
    padding-left: 38px;
}

[data-plugin-role="img_uploading"]{
    margin:10px;
    display:inline-block;
    position:relative;
    height:100px;
}

[data-plugin-role="img_uploading"] .float_loader{
    width:100%;
    background:white;
    bottom:0;
    height:100px;
    opacity:0;
    position:relative;
    z-index: 20;
}

[data-plugin-role="img_uploading"] .hover_text{
    left: 0;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%;
    z-index: 30;
}
[data-plugin-role="img_uploading"].error{
    border: 2px solid red;
    opacity: 1;
    color: red;
    font-weight: bolder;
}

[data-plugin-role="img_uploading"] img{
    height:100px;
}

.noty_bar .noty-button {
  margin-right: 5px;
}

.noty-button {
  display: inline-block;
  position: relative;
  padding: .8em 1.3em;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  outline: 0;
  background: #AC8FFD;
  border: 2px solid #948CE2;
  color: #fff;
  text-shadow: none;
  border-radius: 2px;
  text-decoration: none;
}

.noty-button:hover {
  color: #fff;
  background-color: #c0a7fd;
  border-color: #948CE2;
  text-decoration: none;
}